@import "../../scss/variables";

.title-item{
    display: flex;
    align-items: flex-end;
    margin: $space-lg;
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: $space-lg;
    }
    &__poster{
        width: 100px;
        border-radius: 10px;
        margin-right: $space-xl;
    }
    &__title{
        color: $color-white;
        font-size: 1.6rem;
        max-width: 60%;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &__rating{
        font-size: 1.3rem;
        color: $color-yellow;
        margin-right: $space-sm;
    }
    &__year{
        color: transparentize($color-white, .3);
        font-size: 1.4rem;
        
    }
    &__plot{
        color: $color-white;
        margin-bottom: $space-lg;
        line-height: 1.5rem;
    }
}