@import '../../scss/variables';

.footer{
    background-color: $color-white-transparent;
    padding: $space-sm 0;
    margin-top: 4rem;

    &__content-container{
        width: 65%;
        margin: 3rem  auto 1rem auto;
        display: flex;
        border-bottom: 1px solid $color-white-transparent;
    }
    &__link-list{
        flex: 1 0 80%
    }
    &__link-item{
        margin-bottom: 2.5rem;
        color: $color-white;
        display: inline-block;
        width: 33%;
    }
    &__about{
        color: $color-white;
        font-weight: 200;
        line-height: 1.25rem;
    }
    &__rights{
        font-size: .8rem;
        font-weight: 100;
        color: $color-white;
        display: block;
        text-align: center;
    }
}